body{
    background-color: rgb(218, 211, 202);
    background-image: url(./eba7990be963a25d6cee50b16f9b4daf.jp);
}


h1{color: rgb(131, 155, 126);
    font-size: 80px;
    font-style: oblique;
}

h2{
color: rgb(240, 171, 194);
font-size: 30px;
font-style: oblique;
}

p{
    color: rgb(189, 118, 130)
    
} 


