html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/* layouten */

body {

    background-image: url(./red-left-63f167c004dbcda8174f14b627ea230e.svg);

}

.kontiner {

    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;


}


/* Huvud */

.kontiner h1 {

    text-align: center;
}

.kontiner .intro {

    text-align: center;
}

/* Kolumerna  */


.kontiner .kolumer-3 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.kontiner .kolum {}

.kontiner .kolum h3 {}


.kontiner .kolum img {

width: 100px;

}

.kontiner .kolumer p {}

.kontiner .kolumer a {}