
.wanderer{

    background-color: black;
    color: #fff;

}

.wanderer .vimeo{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;

}

.wanderer .vimeo iframe{

    width: 100vw;
    height: 56.25vw ;
    min-width: 230vh;
    min-height: 100vh;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: none;
}

.wanderer main{

display:grid;
align-items: center;

}


.PSO h1{

color: #575c76;

}


.PSO nav a{

color: #575c76;

}

.container header a:hover {

    border-bottom: 2px solid #575c76;

}

.PSO header a:active {

    border-bottom: 2px solid #575c76;

}