@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Shadows+Into+Light&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/*  Layoutens utseende */
body{
background-image: url(./bilder/7c74de4fbb6753bfe4ce69de3982d082.jpg);
background-size: cover;
background-attachment: fixed;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;

}
/* Innehållets utseende */
div {

width: 600px;
background-color: rgba(255, 192, 203, 0.897);
margin:auto;
margin-top: 50px;
border: 10px solid rgb(234, 142, 173) ;
border-radius: 20px;
padding: 50px;
font-family: "Shadows Into Light", cursive;
font-weight: 400;
font-style: normal;
color: rgb(255, 117, 158);

}
h1{
margin-bottom: 20px;
font-size: 45px;
text-shadow: 1px 1px 1px pink;
}
h2{
margin-bottom: 15px;

}
img{
margin-bottom: 15px;

}
p{

margin-bottom: 10px;


}
ul{

margin-bottom: 15px;
margin-left: 10px;
}
li{


}


